@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
:root {
  --bg: hsl(0, 0%, 90%);
  --bg-keypad: hsl(0, 5%, 81%);
  --bg-scr: hsl(0, 0%, 93%);
  --key-bg-main: hsl(45, 7%, 89%);
  --key-shd-main: hsl(35, 11%, 61%);
  --key-bg-2: hsl(185, 42%, 37%);
  --key-shd-2: hsl(185, 58%, 25%);
  --key-bg-3: hsl(25, 98%, 40%);
  --key-shd-3: hsl(25, 99%, 27%);
  --text: hsl(60, 10%, 19%);
  --text-secondary: hsl(0, 100%, 100%);
  //my added colors
  --text-white: hsl(0, 75%, 100%);
  --text-theme: hsl(60, 10%, 19%);
  --bg-theme: hsl(35, 7%, 64%);
  --text-calc: hsl(60, 10%, 19%);
  // --text-button: hsl(0, 75%, 100%);
  --hover-effect: brightness(0.9);
}
[data-theme="dark"] {
  --bg: hsl(222, 26%, 31%);
  --bg-keypad: hsl(223, 31%, 20%);
  --bg-scr: hsl(224, 36%, 15%);
  --key-bg-main: hsl(30, 25%, 89%);
  --key-shd-main: hsl(28, 16%, 65%);
  --key-bg-2: hsl(225, 21%, 49%);
  --key-shd-2: hsl(224, 28%, 35%);
  --key-bg-3: hsl(6, 63%, 50%);
  --key-shd-3: hsl(6, 70%, 34%);
  --text: hsl(221, 14%, 31%);
  --text-secondary: hsl(0, 100%, 100%);
  //my added colors
  --text-white: hsl(0, 75%, 100%);
  --text-theme: #fff;
  --bg-theme: hsl(224, 36%, 15%);
  --text-calc: #fff;
  // --text-button: hsl(0, 75%, 100%);
  --hover-effect: brightness(0.9);
}
[data-theme="contrast"] {
  --bg: hsl(268, 75%, 9%);
  --bg-keypad: hsl(268, 71%, 12%);
  --bg-scr: hsl(268, 71%, 12%);
  --key-bg-main: hsl(268, 47%, 21%);
  --key-shd-main: hsl(290, 70%, 36%);
  --key-bg-2: hsl(281, 89%, 26%);
  --key-shd-2: hsl(285, 91%, 52%);
  --key-bg-3: hsl(176, 100%, 44%);
  --key-shd-3: hsl(177, 92%, 70%);
  --key-bg-secondary: hsl(268, 47%, 21%);
  --key-shd-secondary: hsl(290, 70%, 36%);
  --text: hsl(52, 100%, 62%);
  --text-secondary: hsl(198, 20%, 13%);
  //my added colors
  --text-white: hsl(0, 75%, 100%);
  --text-theme: hsl(52, 100%, 62%);
  --bg-theme: hsl(267, 55%, 16%);
  --text-calc: hsl(52, 100%, 62%);
  // --text-button: hsl(198, 20%, 13%);
  --hover-effect: brightness(0.9);
}
//fighting with theme switcher START
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;

  & * {
    color: var(--text-theme);
  }
}
.switch-wrapper {
  background-color: var(--bg-theme);
  width: 60px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .theme-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    label {
      position: absolute;
      top: -22px;
      left: 3px;
    }

    .switch-button {
      appearance: none;
      margin: 0;
      width: 14px;
      height: 14px;
      border: none;
      border-radius: 50%;
      background-color: var(--bg-theme);

      &:checked {
        background-color: var(--key-bg-3);
      }
    }
  }
}

//fighting with theme switcher END
body {
  background-color: var(--bg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: Min(90vw, 500px);
  height: 65vh;
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;

  h1 {
    color: var(--text-calc);
  }
}
.screen {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--bg-scr);
  border-radius: 10px;
  margin-bottom: 3vh;
  padding: 10px;
  text-align: right;
  overflow: hidden;
  p {
    font-size: 2rem;
    color: var(--text-calc);
  }
  #screen {
    font-size: 3rem;
  }
}
.bottom-container {
  padding: 3vh;
  height: 40vh;
  width: 100%;
  background-color: var(--bg-keypad);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: Clamp(10px, 5vw, 20px);
  z-index: 1;

  & > * {
    border: none;
    background-color: var(--key-bg-main);
    border-radius: 7px;
    font-size: 1.3rem;
    position: relative;
    z-index: 5;
    border-bottom: 4px solid var(--key-shd-main);
    color: var(--text);
  }
  & > *:hover {
    filter: brightness(1.3);
  }
  #buttonDEL,
  #buttonRES {
    background-color: var(--key-bg-2);
    border-bottom-color: var(--key-shd-2);
    color: var(--text-white);
  }
  #buttonRES {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  #buttonEQ {
    grid-column-start: 3;
    grid-column-end: span 2;
    background-color: var(--key-bg-3);
    border-bottom-color: var(--key-shd-3);
    color: var(--text-secondary);
  }
}
